doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Home
header
  nav.navbar
    ul
      li
        a.navbar(href='/') Home
      li
        a.navbar(href='services') Our Services
      li
        a.navbar(href='contact') Contact Us
main
  h1.company-name XYZ company
  h3.text Associated with quality
  .home-opening
   h2 Why choose XYZ?
   p.home-text
    | Our company have a young team of engineers. We offer a high quality services.
    | We&apos;ve been in the market since 1990 and our client satisfaction is 
    | one of our priorities.
    img.home-image(src="https://image.flaticon.com/icons/png/512/64/64722.png", alt="image")
footer
  span @ XYZ Company 2020