doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Services
header
  nav.navbar
    ul
      li
        a.navbar(href='/') Home
      li
        a.navbar(href='services') Our Services
      li
        a.navbar(href='contact') Contact Us
  h1 Our services
main.main-service
  .services
    h3 Diagnostics
    span ABS Light is on Inspection
    span  Clogged air filter Inspection
  .services
    h3 Cluctch and transmission
    span CV Axle / Shaft Assembly Replacement
    span  Axle Shaft Seal Replacement
  .services
    h3 Engine
    span Car AC Belt Replacement
    span Air Bleed Housing Assembly Replacement
  .services
    h3 Fluids
    span Oil change
    span Clutch Fluid Replacement
footer
  span @ XYZ Company 2020